<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filter</dict>
    <dict>
        <key>Bundles</dict>
        <array>
            <string>com.target.game.bundleid</string>  <!-- 替換成目標遊戲 Bundle ID -->
        </array>
    </dict>
</dict>
</plist>
