Package: com.yuchen0614.biwudahui
Name: BiWuDaHui Mod Menu
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom ImGui Mod Menu for Unity games with dynamic function hooking
Maintainer: Yuchen0614 <your@email.com>
Author: Yuchen0614
